main {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
}

h3 {
    margin: 40px 0 15px 5px;
}

div > p {
    font-size: large;
    padding: 10px 10px 5px 20px;
}

#rating {
    width: 50px;
    background-color: rgb(44, 44, 44);
    border-radius: 10px;
    border-style: none;
    padding: 15px;
    margin: 0 10px;
}