<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Developer Form</title>
        
        <link rel="stylesheet" href="../../styles/style.css">
        <link rel="stylesheet" href="../../styles/form.css">
    </head>
    <body>
        <%- include("../../partials/header", { path: "../../" }) %>

        <% if (locals.errors) { %>
            <ul>
                <% locals.errors.forEach(error => { %>
                    <li><%= error.msg %></li>
                <% }); %>
            </ul>
        <% } %>

        <form action="/developer/update/<%= id %>" method="POST">
            <label for="developer-name">Developer Name: </label>
            <input type="text" name="developer_name" id="developer-name" value="<%= developer.developer_name %>" required>
            
            <button type="submit">Submit this Developer</button>
        </form>
    </body>
</html>
