<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Developer</title>

        <link rel="stylesheet" href="../styles/style.css" />
    </head>
    <body>
        <%- include("partials/header", { path: "../" }) %>

        <main>
            <%- include("partials/add", { path: "developer", name: "Developer"}) %>

            <h2>Developers</h2>
            <ul class="list-of-things">
                <% for (let i = 0; i < developers.length; i++) { %>
                    <li><a href="/developer/<%= developers[i].id %>"><%= developers[i].developer_name %></a></li>
                <% } %>
            </ul>
        </main>
    </body>
</html>
