<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Genre</title>

        <link rel="stylesheet" href="../styles/style.css" />
    </head>
    <body>
        <%- include("partials/header", { path: "../" }) %>

        <main>
            <%- include("partials/add", { path: "genre", name: "Genre"}) %>

            <h2>Genres</h2>
            <ul>
                <% for (let i = 0; i < genres.length; i++) { %>
                    <li><a href="/genre/<%= genres[i].id %>"><%= genres[i].game_genre %></a></li>
                <% } %>
            </ul>
        </main>
    </body>
</html>
