<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Publisher</title>

        <link rel="stylesheet" href="../styles/style.css" />
    </head>
    <body>
        <%- include("partials/header") %>

        <main>
            <%- include("partials/add", { path: "publisher", name: "Publisher"}) %>

            <h2>Publishers</h2>
            <ul>
                <% for (let i = 0; i < publishers.length; i++) { %>
                    <li><a href="/publisher/<%= publishers[i].id %>"><%= publishers[i].publisher_name %></a></li>
                <% } %>
            </ul>
        </main>
    </body>
</html>
