<header>
    <p>
        <a href="/"
            ><img src="../icons/homePageIcon.svg" alt="Home" width="40px" height="auto"
        /></a>
    </p>
    <p>
        <a href="/game"
            ><img src="../icons/gamesIcon.svg" alt="Game" width="40px" height="auto"
        /></a>
    </p>
    <p>
        <a href="/genre"
            ><img src="../icons/genresIcon.svg" alt="Genre" width="40px" height="auto"
        /></a>
    </p>
    <p>
        <a href="/developer"
            ><img src="../icons/developersIcon.svg" alt="Developer" width="40px" height="auto"
        /></a>
    </p>
    <p>
        <a href="/publisher"
            ><img src="../icons/publishersIcon.svg" alt="Publisher" width="40px" height="auto"
        /></a>
    </p>
</header>
